In [ ]:
########################################
###  코드작성 [메모리 변수 모두 제거
#######################################
all = [var for var in globals() if var[0] != "_"]
for var in all:
    del globals()[var]

In [1]:
# 필요 라이브러리 로드
from matplotlib import font_manager, rc
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import platform

##[미션] wine의 데이터셋이해
- 레드와인과 화이트 와인의 alcohol, sugar, PHP의 관계 조사
- 이 자료의 class가 1이면 화이트 화인/0이면 레드와인임
 - alcohol: 도수
 - sugar: 당류
 - PH: 수소 이온 농도(pH)는 물질의 산성과 알칼리성 정도를 나타내는 수치이다.

In [11]:
########################################
###  wine1=wine1.csv  
###  wine2=wine2.csv
#######################################
wine1 = pd.read_csv('wine1.csv',sep = '\t')
wine2 = pd.read_csv('wine2.csv',sep = '\t')

In [47]:
########################################
### [두자료의 교집합 자료만 보기] 데이콘 경진대회 교재 P16 참조
###  wine1과 wine2의 index 필드값이 같은 자료만 가져오기
### 최종 wine 변수에 할당
wine = pd.merge(wine1,wine2, left_on='index', right_on='index')

# index별로 정렬
wine = df.sort_values(by = 'index').reset_index(drop=True)
### wine자료와 wine2 자료를  연결하여서
### wine의 index번호에 해당하는
### wine2자료의 sugar_PH값 가져와  df 데이터셋 제작 -----까지 해결

In [51]:
### wine['class']의 최대값1, 최소값 0 확인 (max, min 함수로 출력)
wine['class'].max(),wine['class'].min()

(1.0, 0.0)

In [57]:
### df 데이터셋의 sugar_PH의  값 분리하여
### df['sugar']   df['PH'] 변수로 작성
df = wine
df['sugar'] = df['sugar_PH'].str.split('/').str[0]
df['PH'] = df['sugar_PH'].str.split('/').str[1]

In [58]:
df

      index  alcohol  class  sugar_PH sugar    PH
0         1      9.4    0.0  1.9/3.51   1.9  3.51
1         2      9.8    0.0   2.6/3.2   2.6   3.2
2         4      9.8    0.0  1.9/3.16   1.9  3.16
3         5      9.4    0.0  1.9/3.51   1.9  3.51
4         6      9.4    NaN  1.8/3.51   1.8  3.51
...     ...      ...    ...       ...   ...   ...
6492   6495      9.4    1.0  1.2/2.99   1.2  2.99
6493   6496     12.8    1.0  1.1/3.34   1.1  3.34
6494   6497     11.8    1.0  0.8/3.26   0.8  3.26
6495   6498      9.8    0.0  2.3/3.26   2.3  3.26
6496   6499     10.5    0.0  6.1/3.35   6.1  3.35

[6497 rows x 6 columns]

In [59]:
########################################
### df의 각 필드 타입 확인 및 데이터 갯수 확인
########################################
df.isna().sum()

index       0
alcohol     0
class       4
sugar_PH    0
sugar       0
PH          0
dtype: int64

In [73]:
########################################
### sugar, PH의 필드형식 float64로 변환
#######################################
df = df.astype({'sugar': 'float64'})
df = df.astype({'PH': 'float64'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     6497 non-null   int64
 1   alcohol   6497 non-null   float64
 2   class     6493 non-null   float64
 3   sugar_PH  6497 non-null   object
 4   sugar     6497 non-null   float64
 5   PH        6497 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 304.7+ KB

In [77]:
########################################
### [두자료의 교집합 자료만 보기] 데이콘 경진대회 교재 P37 참조
### 숫자값 필드 결측치 0으로 치환
#######################################
df = df.fillna(0)

index       0
alcohol     0
class       0
sugar_PH    0
sugar       0
PH          0
dtype: int64