In [1]:
########################################
###  코드작성 [메모리 변수 모두 제거
#######################################
all = [var for var in globals() if var[0] != "_"]
for var in all:
    del globals()[var]

In [2]:
# 필요 라이브러리 로드
from matplotlib import font_manager, rc
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import platform

##[미션] wine의 데이터셋이해
- 레드와인(껍질 O)과 화이트 와인(껍질 x)의 alcohol, sugar, PHP의 관계 조사
- 이 자료의 class가 1이면 화이트 화인/0이면 레드와인임
 - alcohol: 도수
 - sugar: 당류
 - PH: 수소 이온 농도(pH)는 물질의 산성과 알칼리성 정도를 나타내는 수치이다.

In [10]:
########################################
###  wine1=wine1.csv  
###  wine2=wine2.csv
#######################################
wine1 = pd.read_csv('wine1.csv',sep = '\t')
wine2 = pd.read_csv('wine2.csv',sep = '\t')

In [8]:
## 다른 방법
from glob import glob
pd.read_csv(glob('w*')[1],sep='\t')

      index  alcohol  class
0      7001     9.90  999.0
1         1     9.40    0.0
2         2     9.80    0.0
3         3     9.99  999.0
4      6498     9.80    0.0
...     ...      ...    ...
6495   6493    11.20    1.0
6496   6494     9.60    1.0
6497   6495     9.40    1.0
6498   6496    12.80    1.0
6499   6497    11.80    1.0

[6500 rows x 3 columns]

In [16]:
########################################
### [두자료의 교집합 자료만 보기] 데이콘 경진대회 교재 P16 참조
###  wine1과 wine2의 index 필드값이 같은 자료만 가져오기
### 최종 wine 변수에 할당
wine = pd.merge(wine1,wine2, left_on='index', right_on='index')

# index별로 정렬
wine = wine.sort_values(by = 'index').reset_index(drop=True)
### wine자료와 wine2 자료를  연결하여서
### wine의 index번호에 해당하는
### wine2자료의 sugar_PH값 가져와  df 데이터셋 제작 -----까지 해결

In [ ]:
## 강사님 코드 ##
# 새로운 인덱스의 교집합

intersection_idx = list(set(wine1['index']).intersection(wine2['index']))


# 교집합에 존재하는 데이터만 불러오기
wine = wine1.loc[
    wine1['index'].apply(lambda x: x in intersection_idx)].copy()

wine = wine.sort_values(by = 'index').reset_index(drop=True) 
wine['class'].min(), wine['class'].max()

print(wine.info())
print(wine.head(20))

In [17]:
### wine['class']의 최대값1, 최소값 0 확인 (max, min 함수로 출력)
wine['class'].max(),wine['class'].min()

(1.0, 0.0)

In [18]:
### df 데이터셋의 sugar_PH의  값 분리하여
### df['sugar']   df['PH'] 변수로 작성
df = wine
df['sugar'] = df['sugar_PH'].str.split('/').str[0]
df['PH'] = df['sugar_PH'].str.split('/').str[1]

In [ ]:
## 강사님 ##
# ★★★★★★★ [미션] ★★★★★★★
########################################
### wine자료와 wine2 자료를  연결하여서
### wine의 index번호에 해당하는
### wine2자료의 sugar_PH값 가져와  df 데이터셋 제작
### df 데이터셋의 sugar_PH의  값 분리하여
### df['sugar']   df['PH'] 변수로 작성
#######################################


## merge 로 두데이터 조인
df=pd.merge(wine, wine2)

##### 방법 3
# 파이썬 컴프리헨션(압축기법)
df['sugar']=[x.split('/')[0] if pd.notnull(x) else x for x in tmp['sugar_PH']]

df['sugar'] = df['sugar_PH'].apply(
    lambda x: x.split('/')[0] if pd.notnull(x) else x)

df['PH'] = df['sugar_PH'].apply(
    lambda x: x.split('/')[1] if pd.notnull(x) else x)

dfTmp=pd.merge(wine1,wine2)
dataList=[]; mainList=[]

for i in dfTmp['sugar_PH']:
  List=[]
  for j in i.split('/'):
    List.append(j)
  mainList.append(List)
print(mainList[:10])

In [15]:
df

      index  alcohol  class  sugar_PH sugar    PH
0         1      9.4    0.0  1.9/3.51   1.9  3.51
1         2      9.8    0.0   2.6/3.2   2.6   3.2
2      6498      9.8    0.0  2.3/3.26   2.3  3.26
3         4      9.8    0.0  1.9/3.16   1.9  3.16
4         5      9.4    0.0  1.9/3.51   1.9  3.51
...     ...      ...    ...       ...   ...   ...
6492   6493     11.2    1.0  1.6/3.27   1.6  3.27
6493   6494      9.6    1.0    8/3.15     8  3.15
6494   6495      9.4    1.0  1.2/2.99   1.2  2.99
6495   6496     12.8    1.0  1.1/3.34   1.1  3.34
6496   6497     11.8    1.0  0.8/3.26   0.8  3.26

[6497 rows x 6 columns]

In [22]:
########################################
### df의 각 필드 타입 확인 및 데이터 갯수 확인
########################################
df.isna().sum()

index       0
alcohol     0
class       4
sugar_PH    0
sugar       0
PH          0
dtype: int64

In [26]:
df = df.drop(['sugar_PH'],axis=1)

In [73]:
########################################
### sugar, PH의 필드형식 float64로 변환
#######################################
df = df.astype({'sugar': 'float64'})
df = df.astype({'PH': 'float64'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     6497 non-null   int64
 1   alcohol   6497 non-null   float64
 2   class     6493 non-null   float64
 3   sugar_PH  6497 non-null   object
 4   sugar     6497 non-null   float64
 5   PH        6497 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 304.7+ KB

In [ ]:
## 다른 방법
for x in df.columns:
  if df[x].dtype == 'object':
    df[x]= df[x].astype('float64')

In [27]:
## 다른방법
[df[x].astype('float64') if df[x].dtype == 'object' else x for x in df.columns]
## else를 쓰지않으려면
[df[x].astype('float64') for x in df.columns if df[x].dtype == 'object']

['index', 'alcohol', 'class', 0       1.9
 1       2.6
 2       1.9
 3       1.9
 4       1.8
        ...
 6492    1.2
 6493    1.1
 6494    0.8
 6495    2.3
 6496    6.1
 Name: sugar, Length: 6497, dtype: float64, 0       3.51
 1       3.20
 2       3.16
 3       3.51
 4       3.51
         ...
 6492    2.99
 6493    3.34
 6494    3.26
 6495    3.26
 6496    3.35
 Name: PH, Length: 6497, dtype: float64]

In [77]:
########################################
### [두자료의 교집합 자료만 보기] 데이콘 경진대회 교재 P37 참조
### 숫자값 필드 결측치 0으로 치환
#######################################
df = df.fillna(0)
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

#  결측치를 0으로 채우기
df[df.select_dtypes(include=numerics).columns] =df[df.select_dtypes(include=numerics).columns].fillna(0)
df.info()

# for문 이용
for x in df.columns:
  if df[x].dtype in ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']:
    df[x].fillna(0)
#
[df[x].fillna(0) if df[x].dtype in ['int16', 'int32', 'int64', 'float16', 'float32', 'float64'] for x in df.columns]

In [31]:
[df[x].fillna(0) for x in df.columns if df[x].dtype in ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']]

[0          1
 1          2
 2          4
 3          5
 4          6
         ...
 6492    6495
 6493    6496
 6494    6497
 6495    6498
 6496    6499
 Name: index, Length: 6497, dtype: int64, 0        9.4
 1        9.8
 2        9.8
 3        9.4
 4        9.4
         ...
 6492     9.4
 6493    12.8
 6494    11.8
 6495     9.8
 6496    10.5
 Name: alcohol, Length: 6497, dtype: float64, 0       0.0
 1       0.0
 2       0.0
 3       0.0
 4       0.0
        ...
 6492    1.0
 6493    1.0
 6494    1.0
 6495    0.0
 6496    0.0
 Name: class, Length: 6497, dtype: float64]