In [1]:
import requests
import pandas as pd
from urllib.parse import quote
from bs4 import BeautifulSoup
import re
import requests
import pandas as pd
from urllib.parse import quote
import unicodedata
from tqdm.notebook import tqdm

In [78]:
df = pd.read_csv('네이버top2000(리뷰만추가하면끝).csv',lineterminator='\n')
df=df.rename(columns={'영화제목':'영화명'})
df

      Unnamed: 0  ...                                                블로그
0              0  ...                                                  x
1              1  ...  오늘은 영화 '<b>그린북</b>'을 12단계로 분석해보려고 하는데요~ <b>그린북...
2              2  ...  영화 &lt;<b>가버나움</b>&gt;에 대해 여러분들에게 소개해드리고자 주간 인...
3              3  ...  익숙한 디지몬들과 성장해버렸지만 친구 같은 주인공들 덕분에 자연스럽게 웃음이 번졌다...
4              4  ...  그래서 <b>원더</b>우먼 보기를 잘했단 생각이 들었답니다. 서평지청 출신의 서연...
...          ...  ...                                                ...
1995        1995  ...  아이에게도 이런 교육은 꼭 필요할 거 같아 소개된 책들을 구하려고 보니 죄다 절판된...
1996        1996  ...  집은 <b>로빈슨 크루소</b>가 만든 첫번째 집. 노란 색 레고로 만든 것은 농장...
1997        1997  ...  영화 <b>저스트라이크헤븐</b> 가족중 악신이 있으며 그 악신을 헤쳐서 아예 없애...
1998        1998  ...  그래서 이 둘이 함께 만든 영화인 &lt;<b>프란시스 하</b>&gt;가 보고싶었...
1999        1999  ...  영화 <b>킥 애스 2: 겁 없는 녀석들</b> 정보 킥애스와 힛걸은 마더퍼커의 기...

[2000 rows x 23 columns]

In [116]:
df2 = pd.read_csv('스토리배우참여_수정.csv',lineterminator='\n')
df2 = df2.sort_values(['영화명'])
df2

      Unnamed: 0  ...                                                스토리
779          779  ...  내 생애 가장 행복한 날들  -  평범한 고등학생 민아. 자신이 보기에도 유난히 철...
749          749  ...     -  어렸을 적부터 함께 자라고, IT 회사도 공동 운영,\r 사는 집도 아랫...
870          870  ...  '출근’이 인생의 목표인 당신에게 바친다!. 93분간 펼쳐지는 스릴 넘치는 직장생활...
853          853  ...     -  서기 2035년 미래의 인류는 바이러스 감염으로 인해 99%가 멸망하고 ...
1969        1969  ...  살고자 하는 의지보다 더 강한 것은 없다!  -  남은 건 오직… 로프, 칼 그리고...
...          ...  ...                                                ...
1573        1573  ...                                               -
1596        1596  ...                                               -
1621        1621  ...                                               -
1681        1681  ...                                               -
1995        1995  ...                                               -

[2000 rows x 6 columns]

In [82]:
## 25개 크롤링 실패

Unnamed: 0     0
영화명           25
감독            25
등급            46
관람객평점         26
네티즌평점         26
장르            27
국적            25
영화시간          25
개봉일           36
추천            26
10대 비율         0
20대 비율         0
30대 비율         0
40대 비율         0
50대 비율         0
남성 만족도         0
여성 만족도         0
스토리            0
관객평점인원         0
네티즌평점인원        0
배우             0
블로그            0
dtype: int64

In [ ]:
df = df.sort_values(['영화명'])

In [106]:
set(df['영화명'].unique()) - set(df2['영화명'].unique())

{'킥 애스 2: 겁 없는 녀석들'}

In [50]:
df[df['영화명']=='킥 애스 2: 겁 없는 녀석들'].index

Int64Index([], dtype='int64')

In [107]:
df = df.drop(index=1999)

In [49]:
set(df2['영화명'].unique()) - set(df['영화명'].unique())

set()

In [43]:
df2[df2['영화명']=='짱구는 못말려 극장판 : 태풍을 부르는 황금 스파이 대작전'].index

Int64Index([1987], dtype='int64')

In [117]:
# 한쪽에 없는 데이터를 삭제
df2 = df2.drop(index=1987)

In [159]:
df = df.reset_index()
df2 = df2.reset_index()

In [167]:
df3 = pd.merge(df,df2)
df3.shape

(1999, 23)

In [140]:
# 영화명순으로 sort한 결과 일치하는지 확인
a=[]
for i in range(len(df['영화명'])):
  if df.iloc[i,2] == df2.iloc[i,2]:
    pass
  else:
    a.append(i)
a

[1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998]

In [174]:
df4 = df3.sort_values(['네티즌평점'],ascending=False)

In [176]:
df4 = df4.reset_index()

In [182]:
df4.to_csv('10월3일 자료통합')

In [185]:
df4.iloc[1958]

영화명                                                  언어의 정원
감독                                                  신카이 마코토
등급                                                  12세 관람가
관람객평점                                          관람객 평점 8.95점
네티즌평점                                                  8.16
장르                                                    애니메이션
국적                                                       일본
영화시간                                                   46분
개봉일                  20200422 재개봉 20160707 재개봉  20130814 개봉
추천                       이 영화는 20대 남성이 좋아하는 영상미가 뛰어난 영화입니다.
10대 비율                                                  12%
20대 비율                                                  62%
30대 비율                                                  17%
40대 비율                                                   8%
50대 비율                                                   1%
남성 만족도                                                 8.35
여성 만족도                                                 7.69
블로그       요즘엔 왜이리 싫은거야 뜬금 없지만 눈뜨자마자 갑자기 ‘<b>언어의 정원</b>’ ...
관람객참여                                               참여 154명
네티즌참여                                              참여 2489명
배우               ['이리노 미유', '하나자와 카나', '히라노 후미', '테라사키 유카']
스토리       사랑보다 훨씬 더 이전의 고독한 사랑의 이야기!\r.   -  구두 디자이너를 꿈꾸...
Name: 1958, dtype: object

In [ ]:
#
# set(df2['영화명'].unique()) - set(df['영화명'].unique()) 을 이용해 한쪽에만 있는 영화를 찾아낸후 제거
# 영화명 순으로 sorting
# 서로 순서가 맞는지 확인
##############
#a=[]
#for i in range(len(df['영화명'])):
#  if df.iloc[i,2] == df2.iloc[i,2]:
#    pass
#  else:
#    a.append(i)
#a
############
# 순서가 맞다면 merge
# df3 = pd.merge(df,df2)
# df4 = df3.sort_values(['네티즌평점'],ascending=False)
# 순위 재조정
# df4 = df4.reset_index() 인덱스 재조정